@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  height: 100vh;
}
/* Profile frame styling */
/* .profile-frame {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  border: 3px solid #fd0707;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 23px 24px 5px -6px rgba(15, 4, 4, 0.75);
  -webkit-box-shadow: 23px 24px 5px -6px rgba(15, 4, 4, 0.75);
  -moz-box-shadow: 23px 24px 5px -6px rgba(15, 4, 4, 0.75);
} */

img.framed {
  box-shadow:
    -50px -50px 0 -40px rgb(219, 2, 2),
    50px 50px 0 -40px rgb(219, 2, 2);
}
/* .profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
} */

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark .bg-gray-200 {
  background-color: #4a5568;
}

.dark .text-gray-900 {
  color: #e2e8f0;
}

.dark .text-gray-300 {
  color: #a0aec0;
}

.loader {
  width: 2.5em;
  height: 3em;
  border: 3px solid transparent;
  border-top-color: #f70b0b;
  border-bottom-color: #f70b0b;
  border-radius: 50%;
  animation: spin-stretch 2s ease infinite;
}

@keyframes spin-stretch {
  50% {
    transform: rotate(360deg) scale(0.4, 0.33);
    border-width: 8px;
  }
  100% {
    transform: rotate(720deg) scale(1, 1);
    border-width: 3px;
  }
}

.paragraph p img{
  width: 100%;
  height: 450px;
  padding: 20px 0;
}